{% extends 'base.html' %}

{% block content %}

<section class="section-content padding-y" style="min-height:84vh">
  <div class="card mx-auto shadow-sm" style="max-width: 400px; margin-top:100px;">
    {% include 'includes/alerts.html' %}
    <div class="card-body">
      <h4 class="card-title mb-4 text-center" style="color:#b5838d;">¿Olvidaste tu contraseña?</h4>

      <form action="{% url 'forgotPassword' %}" method="POST">
        {% csrf_token %}

        <div class="form-group">
          <input type="email" class="form-control" name="email" placeholder="Escribí tu correo electrónico" required>
        </div>

        <div class="form-group d-flex justify-content-between">
          <a href="{% url 'login' %}" class="small">¿Ya tenés cuenta? Iniciá sesión</a>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-rosa btn-block">Enviar correo de recuperación</button>
        </div>
      </form>
    </div>
  </div>

  <p class="text-center mt-4">
    ¿No tenés cuenta todavía?
    <a href="{% url 'register' %}">Registrate</a>
  </p>
  <br><br>
</section>

{% endblock %}
