{% load static %}

<aside class="col-md-3">
  <!-- FOTO DE PERFIL -->
  <div class="text-center mb-4">
    {% if user.profile.profile_picture and user.profile.profile_picture.name %}
      <img src="{{ user.profile.profile_picture.url }}" alt="Foto de perfil" class="img-fluid rounded-circle mb-2" style="width: 120px; height: 120px; object-fit: cover;">
    {% else %}
      <img src="{% static 'images/default-profile.png' %}" alt="Foto por defecto" class="img-fluid rounded-circle mb-2" style="width: 120px; height: 120px; object-fit: cover;">
    {% endif %}
    <p class="fw-bold text-muted">{{ user.get_full_name }}</p>
  </div>

  <!-- MENÚ LATERAL -->
  <ul class="list-group">
    <a class="list-group-item {% if request.path == '/accounts/' %} active {% endif %}" href="{% url 'dashboard' %}"> Mi panel </a>
    <a class="list-group-item {% if '/my_orders/' in request.path %} active {% endif %}" href="{% url 'my_orders' %}"> Mis ordenes de compra </a>
    <a class="list-group-item {% if '/edit_profile/' in request.path %} active {% endif %}" href="{% url 'edit_profile' %}"> Editar perfil </a>
    <a class="list-group-item {% if '/change_password/' in request.path %} active {% endif %}" href="{% url 'change_password' %}"> Cambiar contraseña </a>
    <a class="list-group-item" href="#"> Ayuda y contacto </a>
  </ul>

  <br>
  <a class="btn btn-light btn-block" href="{% url 'logout' %}">
    <i class="fa fa-power-off"></i> <span class="text">Cerrar sesión</span>
  </a>
</aside>
